@model PagedModel<ROLES>
@{
    ViewData["Title"] = "Index";
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "UserRole/Getpage";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };
    var add = Model.action.FirstOrDefault(f => f.url == ("/UserRoleAdd/Role_Add").Trim());
    var Edit = Model.action.FirstOrDefault(f => f.url == ("/UserRoleModify/Role_Modify").Trim());
    var delete = Model.action.FirstOrDefault(f => f.url == ("/UserRoleDelete/Role_Delete").Trim());
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-sm table-bordered  table-hover">
            <thead class="thead-deft">
                <tr>
                    <th>
                        SL
                    </th>
                    <th>
                        Role Name
                    </th>
                    <th>
                        Application Name
                    </th>

                    <th>
                        Remarks
                    </th>   
                    <th>
                        Creation Date
                    </th>
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                {
                    <tr id="@SN">
                        <td>
                            @SN
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @item.CreationDate.ToLongDateString();
                        </td>
                        <td class="text-center">
                            @if (Edit != null)
                            {
                                <a type="submit" class="btn btn-info" href="@Edit.url"> Edit</a>
                            }
                            @if (delete != null)
                            {
                                <a type="submit" class="btn btn-danger" href="@delete.url"> Delete </a>
                            }
                        </td>
                    </tr>
                    SN++;
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">

        <div class="text-left">
            @await Html.PartialAsync("_userrolepagingpartial", pagemodel)
        </div>
    </div>
</div>